<%- include header%>
<form class="ui-form" method="post" accept-charset="utf-8">
<div class="ui-from-group">
<label class="ui-label" for="name">用户名：</label><input class="ui-form-input ui-form-ele" type="text" name="name" /></div>
<div class="ui-from-group">
<label class="ui-label" for="password">密码：</label><input class="ui-form-input ui-form-ele" type="password" name="password" /></div>
<button class="ui-btn ui-btn-primary" type="submit">登录</button>
</form>
<%- include footer%>
