<%- include header%>
<form class="ui-form" method="post" accept-charset="utf-8">
<div class="ui-from-group">
<input class="ui-form-input ui-form-ele" placeholder="文章标题" type="text" name="title" /></div>
<div class="ui-from-group">
<textarea class="ui-form-ele" name="post" placeholder="文章内容，你可以使用 markdown 来编辑哦~" rows="20" cols="80"></textarea></div>
<div class="ui-from-group">
<button class="ui-btn ui-btn-primary" type="submit">发表</button>
</div>
</form>
<%- include footer%>