<%- include header%>
<form class="ui-form" method="post" accept-charset="utf-8">
<div class="ui-from-group">
<!-- <label class="ui-label" for="title"></label> --><input class="ui-form-input ui-form-ele" placeholder="文章标题" type="text" name="title" /></div>
<div class="ui-from-group">
<!-- <label class="ui-label" for="post">正文：</label><br> --><textarea class="ui-form-ele" name="post" placeholder="文章内容" rows="20" cols="100"></textarea></div>
<div class="ui-from-group">
<button class="ui-btn ui-btn-primary" type="submit">发表</button>
</div>
</form>
<%- include footer%>