<%- include header%>
<form class="ui-form" method="post" accept-charset="utf-8">
<div class="ui-from-group">
<label class="ui-label" for="name">用户名：</label><input class="ui-form-input ui-form-ele" type="text" name="name" /></div>
<div class="ui-from-group">
<label class="ui-label" for="password">密码：</label><input class="ui-form-input ui-form-ele" type="password" name="password" /></div>
<div class="ui-from-group">
<label class="ui-label" for="password-repeat">确认密码：</label><input class="ui-form-input ui-form-ele" type="password" name="password-repeat" /></div>
<div class="ui-from-group">
<label class="ui-label" for="email">邮箱名：</label><input class="ui-form-input ui-form-ele" type="email" name="email" /></div>
<div class="ui-from-group">
<button class="ui-btn ui-btn-primary" type="submit">注册</button>
</div>
</form>
<%- include footer%>
