<%- include header %>
<form class="ui-from" method='post' action='/upload' enctype='multipart/form-data'>
 <br>
 <input type="file" multiple name='field1'/>
 <button class="ui-btn ui-btn-primary" type="submit">上传</button>
</form>
<%- include footer %>